* {
  list-style-type: none;
  text-decoration: none;
}
.movie {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}
.movie .movie-title {
  flex-grow: 1;
}
.movie .movie-year {
  flex-grow: 0.5rem;
  color: red;
}

.nav {
  display: flex;
  justify-content: flex-start;
}
.nav li {
  padding: 0 10px;
}
.nav li a {
  color: #777;
}
.nav li a.active {
  color: #000;
  font-weight: bold;
}